logging:
  project: diffusion_policy_debug
  resume: True
  mode: offline  # 改为 offline 或 disabled
  name: ${now:%Y.%m.%d-%H.%M.%S}_${name}_${task_name}
  tags: ["${name}", "${task_name}", "${exp_name}"]
  id: null
  group: null